@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
  font-family: Fredoka, sans-serif;
  font-weight: normal;
}

body {
  
  background: #eee;
}
.title{
  margin-bottom: 10px;
  text-align:center;
  width: 210px;
  color:gray;
  border: solid black 2px;
  }

  .calc-wrapper {
    max-width: 800px;
    margin: 10px auto;
  }
  .btn-calc {
    font-size: 2em;
    width: 100%;
    border: 3px solid #333;
  }

  .btn-calc:hover {
    color: #fff;
    background: #333!important;
   transition: all 0.7s;
   border: 3px solid #333;
  }
  .table-calc {
    width: 100%;
  }


  input[type="text"]
  {
  background-color:white;
  border: solid black 2px;
  width:100%
  }